<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="ion-text-center">Mi perfil</ion-title>
     
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="cliente">
<br>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-content>


  
          <ion-input
          label="Nombre"
          label-placement="floating"
          placeholder="Ingresa tu nombre"
          [(ngModel)]="nombre"
        ></ion-input>

        <div *ngIf="nombre!=undefined && nombre.length<=4">
          <ion-label color="danger"
            >*Debe contener al menos 5 digitos</ion-label
          >
        </div>





        <div
        *ngIf="nombre!=undefined && nombre.length>=5"
      >
        <ion-button
          (click)="save(nombre)"
          expand="block" fill="clear" shape="round"
        >
          Actualizar
        </ion-button>
      </div>





          

        </ion-card-content>
      </ion-card>
    </ion-col>
    
  </ion-row>
</ion-grid>
  


</ion-content>





<ion-content [fullscreen]="true" *ngIf="cliente===''">


  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">  

    <br>
        <ion-card>
    <ion-card-content>


      <ion-title class="ion-text-center">Inicio de sesión</ion-title>


      <br>

      <ion-input
      label="Email"
      label-placement="floating"
      placeholder="Ingresa tu email"
      [(ngModel)]="email"
    ></ion-input>

    

   
    <br>


    <ion-input
    label="Contraseña"
    label-placement="floating"
    placeholder="Ingresa tu contraseña"
    [(ngModel)]="password"
    
  ></ion-input>



  <br>

  <div>
    <ion-button (click)="inicio(email,password)" expand="block" fill="clear" shape="round">
  Ingresar
</ion-button>
</div>




<div style="display: flex; justify-content: flex-end">
<ion-card-subtitle>Aún no tienes cuenta? </ion-card-subtitle>   <a> <ion-button (click)="registro()" expand="block" fill="clear" shape="round">
  Registrate
</ion-button> </a>
</div>

      


      


    </ion-card-content>
  </ion-card>
</ion-col>
      
    </ion-row>
  </ion-grid>

  


</ion-content>

