img{
    height: 15vh;
    width: 15vh;
    margin: auto;
    display: block;
    // border-radius: 99%;
    
    border-radius: 10px;
  }
  

  .badboy {
    background : url( http://g02.a.alicdn.com/kf/HTB16ENqIXXXXXaUXVXXq6xXFXXXp/1000-autumn-maples-font-b-fall-b-font-font-b-scenery-b-font-jigsaw-puzzle-casual.jpg);
    height: 15vh;
    width: 15vh;
    margin: 0 auto;
    display: block;
    transition : ease all .5s
  }
  
  .badboy:hover {
     background : url( http://media-cdn.tripadvisor.com/media/photo-s/01/48/61/6c/beautiful-scenery-around.jpg);
  width: 400px;
  height : 250px;
    }


ion-item{
    --ion-item-background: transparent;
  }


  .menu{
    --ion-background-color: linear-gradient( #757575,#000000);
  
  }


  ion-content{
    --ion-background-color: linear-gradient( #fac96c,#c67820);
  
  }


  ion-card{
    margin: auto;
    width: 100%;
    // border: 1px solid rgb(223, 8, 8);
    padding: 10px;
  
    --ion-background-color:  rgb(255, 255, 255);
  }
  

  .menu{
    --ion-item-background: rgb(0, 4, 48);
  
  }
  


  ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }


  ion-item{
    --ion-item-background: rgb(0, 4, 48);
  }