<ion-menu side="start" contentId="principal" menuId="primerMenu">
  <ion-header>
    <ion-toolbar class="negro">
      <ion-title class="ion-text-center" color="light" >Cellular Planet</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="inicio()"  expand="block" fill="clear" shape="round" color="dark">
      Inicio
      </ion-button>  
   
    <ion-button (click)="audifonosbt()"  expand="block" fill="clear" shape="round" color="dark">
    Audifonos bt
    </ion-button>  
    <ion-button  (click)="manoslibres()"  expand="block" fill="clear" shape="round" color="dark" >
    Manos libres
    </ion-button>  
    <ion-button (click)="cargadores()" color="dark" expand="block" fill="clear" shape="round" >
    Cargadores
    </ion-button>


    <ion-button (click)="bocinas()" color="dark" expand="block" fill="clear" shape="round" >
      Bocinas
      </ion-button>
      <ion-button (click)="smartwatch()" color="dark" expand="block" fill="clear" shape="round" >
      Smart Watch
      </ion-button>
      <ion-button (click)="hogar()" color="dark" expand="block" fill="clear" shape="round" >
      Hogar
      </ion-button>
      <ion-button (click)="cables()" color="dark" expand="block" fill="clear" shape="round" >
      Cables
      </ion-button>
      <ion-button (click)="plugin()" color="dark" expand="block" fill="clear" shape="round" >
      Plug in
      </ion-button>
      <ion-button (click)="powerbank()" color="dark" expand="block" fill="clear" shape="round" >
      Power Bank
      </ion-button>
      <ion-button (click)="belleza()" color="dark" expand="block" fill="clear" shape="round" >
     Belleza
      </ion-button>



     
    <ion-button color="dark" expand="block" shape="round" >
      Iniciar Sesión
      </ion-button>

  </ion-content>





</ion-menu>

