<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Cellular Planet</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-button (click)="miperfil()" expand="block" shape="round">
        <ion-label class="ion-text-wrap">Mi perfil</ion-label>
      </ion-button>

      <ion-button color="danger" (click)="salir()" expand="block" shape="round">
        Cerrar sesión
      </ion-button>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header *ngIf="data">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center"
          >Celullar Planet</ion-title
        >
        <ion-button *ngIf="this.cliente!=''" slot="end" expand="block"  shape="round">
          <ion-icon name="basket-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
      
    </ion-header>

    <ion-content>
      <ion-item lines="none" class="menu">
        <ion-button
          *ngIf="currentWindowWidth >= 300"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Home
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 300"
          (click)="telefonia()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Telefonía
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 300"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Celulares
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 400"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Audifonos
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 500"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Cargadores
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 600"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Audio
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 700"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Electrónica
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 750"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Cables
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 850"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Cocina
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 950"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Iluminación
        </ion-button>

        <ion-button
          *ngIf="currentWindowWidth >= 1050"
          (click)="home()"
          expand="block"
          fill="clear"
          shape="round"
        >
          Belleza
        </ion-button>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="12">


            <ion-card *ngIf="data">
              <ion-card-content>

                <ion-item>
                  <ion-card-title >Resumen de compra</ion-card-title>
                </ion-item>


                <ion-row>
                  <ion-col size="6">

                    <ion-list [inset]="true">
                      <ion-item>
  
                        Producto: {{data[0].producto}} <br>
                        Precio: {{data[0].precio}} <br>
                        Cantidad: {{cantidad}} <br>
                        Total: {{total}} <br>

                       
                        
                      </ion-item>
  
                  </ion-list>


                  </ion-col>
                  <ion-col size="6">
<img src="{{data[0].imagen}}" alt="">
                     
                  </ion-col>



                  <ion-col size="12" *ngIf="data_cliente">

                    <ion-item>
                      <ion-card-title>Direccion de envío</ion-card-title> 
                                 
            
                    </ion-item>



                    <!-- this.nombre = this.data_cliente[0].nombre;
                    this.apellido = this.data_cliente[0].apellido;
                    this.email = this.data_cliente[0].email;
                    this.celular = this.data_cliente[0].celular;
                    this.password = this.data_cliente[0].password;
              
                    this.calle = this.data_cliente[0].calle;
                    this.numero = this.data_cliente[0].numero;
                    this.colonia = this.data_cliente[0].colonia;
                    this.alcaldia = this.data_cliente[0].alcaldia;
                    this.cp = this.data_cliente[0].cp;
                    this.estado = this.data_cliente[0].estado;
                    this.instrucciones = this.data_cliente[0].instrucciones;
 -->



      <ion-list>
        <ion-item lines="none">
          Calle: {{calle}}
          Numero: {{numero}}
          Colonia: {{colonia}}
          Alcaldia/Municipio: {{alcaldia}}
          Codigo Postal: {{cp}}
          Estado: {{estado}}
          Instrucciones adicionales: {{instrucciones}}
          Celular: {{celular}}
        </ion-item>
                        

                      
                    </ion-list>



              

                                         
                </ion-col>

                </ion-row>




<!-- (click)="onClick()" -->
                <ion-button  expand="block"  shape="round">
                  Pagar ${{total}}
                </ion-button>



                  
                
                



              </ion-card-content>
            </ion-card>






            
          </ion-col>


          





                


         

                



        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>
